<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/desk_shop?useSSL=false</property>
        <property name="connection.username">root</property>
        <property name="connection.password"/>
        <property name="show_sql">true</property>

        <mapping class="com.deskshop.serv.metier.Administre"/>
        <mapping class="com.deskshop.serv.metier.Article"/>
        <mapping class="com.deskshop.serv.metier.Commande"/>
        <mapping class="com.deskshop.serv.metier.Compte"/>
        <mapping class="com.deskshop.serv.metier.Magasin"/>
        <mapping class="com.deskshop.serv.metier.Movement"/>
        <mapping class="com.deskshop.serv.metier.Person"/>

    </session-factory>
</hibernate-configuration>